.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #909090;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}
.Catalog {
  background-color: rgb(255, 255, 255);
  width: 390px;
  height: 100;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Catalog_img{
  float:left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button1{
  vertical-align : top;
  background-color: #909090;
  font-size: calc(10px + 2vmin);
  border:none;  
  width: 150px;
  height: 40px;
}

.realDew{
  width: 50px;
  height: 70px;
}

.history{
  float:left;
}

.Top{
  background-color: #fff;
}